// Layout
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-gutter;
  padding-right: $layout-gutter;
  width: 100%;
	max-width: $container-max-width + 2 * $layout-gutter;
  @extend .clearfix;
}
